html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.content-navigation {
  border-color: #aaaaaa; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: #aaaaaa; }

h1, h2, h3, h4, li, p, span {
  font-family: Arial;
  font-size: 0.8em;
  color: #333333; }

ul {
  margin: 12px 0; }
  ul li {
    color: #aaa; }

a {
  color: #ce4dd6; }
  a:hover {
    color: #ffb3ff; }
  a:visited {
    color: #c458cb; }

.button {
  color: #333; }

.akqa {
  background: black url(/images/akqa/bg.jpg) no-repeat; }
  .akqa #akqa-test {
    width: 500px;
    margin: 24px 0 0 36px; }
    .akqa #akqa-test h1, .akqa #akqa-test h2, .akqa #akqa-test h3, .akqa #akqa-test p, .akqa #akqa-test ul, .akqa #akqa-test li, .akqa #akqa-test a, .akqa #akqa-test span, .akqa #akqa-test label {
      color: white;
      font-family: "Trebuchet ms", Verdana, sans-serif; }
    .akqa #akqa-test #akqa-logo span {
      font-size: 2em; }
    .akqa #akqa-test #akqa-logo > span {
      display: block;
      width: 120px;
      height: 50px;
      background: #000 url(/images/akqa/logo.png) no-repeat top left;
      text-indent: 2000%; }
    .akqa #akqa-test ul#akqa-menu-list {
      margin: 40px 0;
      clear: left; }
      .akqa #akqa-test ul#akqa-menu-list li {
        float: left;
        width: 77px;
        height: 19px;
        margin-right: 8px; }
        .akqa #akqa-test ul#akqa-menu-list li.clearfix {
          clear: both;
          float: none;
          width: 0;
          height: 0; }
        .akqa #akqa-test ul#akqa-menu-list li a {
          display: block;
          width: 77px;
          height: 19px;
          padding-top: 3px;
          text-align: center;
          text-decoration: none;
          background: #000 url(/images/akqa/button_b.jpg) no-repeat top left;
          color: white; }
          .akqa #akqa-test ul#akqa-menu-list li a:hover {
            background: #000 url(/images/akqa/button_a.jpg) no-repeat top left;
            color: #ffee33; }
    .akqa #akqa-test ul.akqa-focus-list {
      margin: 12px 0;
      list-style-type: square;
      list-style-position: inside; }
      .akqa #akqa-test ul.akqa-focus-list li {
        padding: 3px; }
    .akqa #akqa-test h2 {
      margin: 38px 0;
      font-size: 1.6em;
      color: #ff0066; }
    .akqa #akqa-test h3 {
      margin: 16px 0;
      font-size: 1.4em; }
    .akqa #akqa-test h4 {
      margin: 12px 0;
      font-size: 1em;
      font-weight: bold;
      color: #ffee33; }
    .akqa #akqa-test p {
      margin: 6px 0 6px;
      font-weight: normal;
      line-height: 1.3em; }
      .akqa #akqa-test p span {
        font-weight: bold; }
    .akqa #akqa-test a {
      text-decoration: none;
      color: #ffee33; }
      .akqa #akqa-test a:hover {
        color: white; }
    .akqa #akqa-test p.akqa-toggle {
      margin: 6px 0 12px 0;
      font-size: 0.95em; }
      .akqa #akqa-test p.akqa-toggle a {
        font-weight: bold;
        color: #ff0066; }
    .akqa #akqa-test .news-item {
      margin: 0 0 16px 0; }
      .akqa #akqa-test .news-item p.quote {
        margin: 12px 24px; }
    .akqa #akqa-test form p.instruction {
      margin: 12px 0; }
    .akqa #akqa-test form .form-field {
      margin: 12px 0; }
      .akqa #akqa-test form .form-field label {
        display: block;
        margin: 4px 0;
        font-size: 0.8em; }
      .akqa #akqa-test form .form-field input.input-txt {
        display: block; }
