#akqa-test.generic-page-container

    %h1#akqa-logo

        %span AKQA

    %ul#akqa-menu-list

        %li

            %a{:href => "#_"} Menu 1

        %li

            %a{:href => "#_"} Menu 1

        %li

            %a{:href => "#_"} Menu 1

        %li.clearfix

    %h2 About AKQA

    %h3.akqa-what What we do

    %p <span>AKQA&rsquo;s</span> e-commerce solutions ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

    %h4.akqa-focus Our focus

    %ul.akqa-focus-list

        %li Interactive

        %li Mobile

        %li Technology

    %p.akqa-inpage-cta.download-cta

        %a{:href => "#_"} Click here to download a PDF of our recent work



    %h3 News

    .news-items

        .news-item.toggable

            %p.akqa-toggle

                %a.btn-toggle{:href => "#_"} &gt;&gt; Show &frasl; Hide news item

            .news-item-container.toggable-container

                %p <span>AKQA&rsquo;s</span> e-commerce solutions ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

                %p.quote I wanted to do laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

        .news-item.toggable

            %p.akqa-toggle

                %a.btn-toggle{:href => "#_"} &gt;&gt; Show &frasl; Hide news item

            .news-item-container.toggable-container

                %p <span>AKQA&rsquo;s</span> e-commerce solutions ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

                %p.quote &quot;I just wanted to do laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse&quot;

    %h3 More information

    %p For more information aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

    %form.contact-form.form-validate

        %p.instruction Items marked &#42; are mandatory

        .form-field

            %label{:for =>"contactname"} Contact name &#42;:

            %input.input-txt.mandatory.data-input#contact-name{:name => "contactname", :value => ""}

        .form-field

            %label{:for =>"contactemail"} Contact email address &#42;:

            %input.input-txt.mandatory.data-input#contact-email{:name => "contactemail", :value => ""}

        .form-field

            %label{:for =>"contactnumber"} Contact number :

            %input.input-txt.data-input#contact-number{:name => "contactnumber", :value => ""}

        .form-field

            %input{:type => "submit", :value => "Submit"}


