.layout-top

    %h2 Homepage for devinteractive.net

    %p Lorem ipso dolor sit amet

.layout-container-1-col

    .center-col

        .module.displayer

            %h2 Diplayer

            <div data-ng-view></div>