%script{ :src => Dictionary::MODERNIZR }
%script{ :src => Dictionary::JQUERY }
%script{ :src => Dictionary::SWFOBJECT }
%script{ :src => Dictionary::POLYFILL_PLACEHOLDER }
%script{ :src => Dictionary::UNDERSCORE }
%script{ :src => Dictionary::BACKBONE }
%script{ :src => Dictionary::KNOCKOUT }
%script{ :src => Dictionary::REQUIRE, :"data-main" => "/js/app.js" }