$DARK_GREY : #333;
$MID_GREY : #666;
$LIGHT_GREY : #AAA;
$XTRA_LIGHT_GREY : #DDD;
$PINK : #f06;
$BLACK : #000;
$YELLOW : #fe3;
$WHITE : #fff;
$RED : #e00;

$MAIN_BOX_PADDING : 16px;


$MAIN_TXT_COLOR : $DARK_GREY;
$CONTENT_BORDER_COLOR : $LIGHT_GREY;

$AKQA_HIGHLIGHT_COLOR : $PINK;
$AKQA_SUBHEADING_COLOR : $YELLOW;
$AKQA_CTA_COLOR : $YELLOW;
$AKQA_TOGGLE_COLOR : $PINK;
$AKQA_TOGGLE_HOVER_COLOR : $WHITE;
$AKQA_TXT_COLOR : $WHITE;
$AKQA_BG_COLOR : $BLACK;
$AKQA_ERROR_COLOR : $RED;